.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / fill-end;
    padding: 3rem;
    display: grid;
    justify-content: center;
    align-content: center;
    row-gap: 2rem;
    justify-items: center;

    @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
        grid-row: 3 / 4;
    }

    &__list {
        display: grid;
        grid-template-columns: min-content max-content;
        column-gap: 3rem;
        row-gap: 5vh;
        align-items: center;        

        @media only screen and (max-width: $bp-medium) {
            grid-template-rows: repeat(2, max-content);
            grid-template-columns: repeat(3, 1fr);
            column-gap: 10vw;
            row-gap: 2vh;
            text-align: center;
            grid-auto-flow: column;
            justify-items: center;
        }

        @media only screen and (max-width: $bp-small) {
            grid-template-rows: repeat(2, max-content);
            grid-template-columns: repeat(3, 1fr);
            column-gap: 8vw;
            row-gap: 2vh;
            text-align: center;
            grid-auto-flow: column;
            justify-items: center;
        }
        
        @media only screen and (max-width: $bp-smallest) {
            grid-template-rows: repeat(3, min-content);
            grid-template-columns: min-content max-content;
            grid-auto-flow: row;
            column-gap: 2rem;
            row-gap: 3vh;
            
        }
        
        
    }

    &__img {
        height: 7rem;
        border-radius: 50%;
        display: block;
    }

    // &__details {
    //     display: grid;
    //     grid-template-row: max-content max-content;
    //     grid-auto-flow: row;
    //     align-items: center;
    //     justify-items: start;
    // }

    &__sold {
        text-transform: uppercase;
        color: $color-grey-light-2;
        margin-top: -3px;
    }
}